.tw1 {
  opacity: 0;
  transform: translateX(-20%);
}

.tw2 {
  transform: scale(.1);
  opacity: 0;
}

.tw3 {
  opacity: 0;
}

/* Video
------------------------------------------------------------*/
.hero-header {
  .hero-video {
    z-index: 3;
    position: relative;

    video {
      width: 100%;
      height: 100%;
      min-height: 100%;
    }
  }

  .title-svg {
    margin-right: 1rem;
  }

  .subtitle-svg {
    transform: translateY(20px);
  }
}

.hero-title {
  position: absolute;
  z-index: 4;
  left: 10%;
  top: -10px;
  width: 315px;

  @include media-breakpoint-down(sm){
    width: 200px;
    left: 15px;
  }

  img {
    position: relative;
    display: block;
    margin: 0;

    @include media-breakpoint-down(sm){
      width: 100%;
    }

    &.title-svg {

    }
  }
}

/* Title
------------------------------------------------------------*/
.hero-header {

  h1 {
    transform: rotate(-90deg);
    font-size: 130px;
    line-height: 1;

    i {
      font-style: normal;
      color: $primary_blue_light;
    }

    span {
      font-size: 40px;
      position: relative;
      color: #000;
    }
  }
}

/* Hero arrow
------------------------------------------------------------*/
.hero-header {
  .scroll-arrow {
    position: absolute;
    bottom: 40px;
    top: auto;
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    z-index: 4;
    filter: grayscale(1) invert(1);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 50% 0;
    background-image: url('#{$path-images}/down-arrow.png');
    animation: arrowDown 900ms linear 0s infinite alternate;

    .fa {
      color: #FFF;
      font-size: 1.2em;
    }
  }
}

@keyframes arrowDown {
  from {
    background-position: 50% 0;
  }

  to {
    background-position: 50% 8px;
  }
}


/* Hero slideshow
------------------------------------------------------------*/
.hero-header {
  position: relative;
  width: 100vw;
  height: 99vh;
  padding-top: 120px;
  margin-bottom: 140px;

  .hero-slideshow {
    position: relative;
    z-index: 3;
    opacity: 0;

    img{
      width: 100%;
      height: auto;
      display: block;
      transform: scale(1);
    }

    .slide-item {
      overflow: hidden;

      .img {
        width: 100vw;
        height: 99vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: 50% 50%;
        transition: all 10000ms ease;
        display: block;
        transform: scale(1);
      }
    }
  }
}


/* Hero slideshow
------------------------------------------------------------*/
.hero-header {
  .hero-slideshow {
    .slide-item {
      &.slick-current {
        .img {
          animation: scaleImg 10000ms linear 0s infinite both;
        }
      }
    }
  }
}


@keyframes scaleImg {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.04);
  }
}

/* Hero pies
------------------------------------------------------------*/
.hero-header {
  .hero-pies {
    position: absolute;
    z-index: 4;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    padding-top: 80px;
  }

  .pie-item {
    width: 120px;
    margin-right: 0;

    h2 {
      color: #FFF;
      font-weight: 400;
      font-size: .9em;
      padding-left: 25px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &.item-1 {
      h2 {
        padding-left: 11px;
      }
    }
  }

  .pie {
    display: block;
    width: 130px;
  	height: 130px;
    background: transparent;

    .doughnutSummaryTitle {
      display: none;
    }

    p {
      display: none;
    }

    span {
      color: #FFF;
      font-size: 1.1em;
      font-weight: 500;
      font-style: normal;
      line-height: 1.1;
    }
  }


  .pie-wrap {
    display: flex;
    position: relative;
    width: 100%;
    left: -5px;

    .val {
      position: absolute;
      height: 30px;
      margin-top: -14px;
      top: 50%;
      width: 100%;
      text-align: center;
      color: #FFF;
      font-size: 1.2em;
      line-height: 1.1;
      opacity: 0;
      transform: scale(.1);
      transition: all 620ms ease;
    }
  }
}


/* Hero pies
------------------------------------------------------------*/
.hero-header {
  .hero-pies {
    .pie-item {
      &.loaded {
        .pie-wrap {
          .val {
            opacity: 1;
            transform: scale(1);
            transition-delay: 1.2s;
          }
        }
      }
    }
  }
}
