#wrapper-navbar {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  height: 100px;
  display: flex;

  .container {
    position: relative;
    height: 100%;
  }

  .navbar-brand {
    position: absolute;
    right: 120px;
    bottom: auto;
    top: -5px;
    opacity: 1;
    transform: translateX(0);

    @include media-breakpoint-down(sm){
      right: 15px;
    }

    img {
      width: 100px;
      height: auto;
      @include media-breakpoint-down(sm){
        width: 80px;
      }
    }
  }
}
