/* Wrap
------------------------------------------------*/
.scroll-nav-wrap {
  position: fixed;
  left: auto;
  right: -45px;
  top: 38%;
  z-index: 999;
  transition: all 720ms ease;

  &.active {
    right: 0;
  }
}


/* Links
------------------------------------------------*/
ul.scroll-to-section {
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;
    line-height: 1.1;
    padding: 0;
    position: relative;
    display: block;
    width: 40px;
    transition: all 600ms ease;
    transform: translateX(6px);

    &::after {
      content: "";
      width: 22px;
      height: 1px;
      background-color: #000;
      position: absolute;
      top: 46%;
      right: 0;
      left: auto;
      transition: all 600ms ease;
    }

    a {
      display: inline-block;
      position: relative;
      top: -3px;
      font-size: $size_xs;
      color: #000;
      padding: 6px 22px 2px 0;
      transition: all 600ms ease;
      transform: scale(.8);
      opacity: 0;
    }

    &:hover {
      a {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}


/* Active
------------------------------------------------*/
ul.scroll-to-section {
  li {
    &.active {
      transform: translateX(0);

      a {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}
