
/* Skroll section
------------------------------------------------------------*/
.scroll-section,
.skrollr-container,
.ovf-hidden {
  overflow: hidden;
}

.slideshow-text {
  @include media-breakpoint-down(sm){
    padding-left: 10px;
    padding-right: 10px;

    .arrow-prev {
      left: -5px !important;
    }

    .arrow-next {
      right: -1px !important;
    }
  }
}

/* Global Classes
------------------------------------------------------------*/
.square-up-right {
  padding-top: 100px;
  padding-right: 100px;
  position: relative;
  background-color: white;

  @include media-breakpoint-down(md){
    padding-top: 60px;
    padding-right: 60px;
  }

  @include media-breakpoint-down(sm){
    padding-top: 40px;
    padding-right: 40px;
  }

  &::after {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba($primary_blue,.9);

    @include media-breakpoint-down(md){
      width: 60px;
      height: 60px;
    }

    @include media-breakpoint-down(sm){
      width: 40px;
      height: 40px;
    }
  }

  &.square-blue-light {
    &::after {
      background-color: rgba($primary_blue_light,.9);
    }
  }

  &.square-grey {
    &::after {
      background-color: rgba(#9B9B9B,.3);
    }
  }

  &.square-green {
    &::after {
      background-color: rgba($primary_green2,1);
    }
  }
}

.square-up-left {
  padding-top: 100px;
  padding-left: 100px;
  position: relative;
  background-color: white;

  @include media-breakpoint-down(md){
    padding-top: 60px;
    padding-left: 60px;
  }

  @include media-breakpoint-down(sm){
    padding-top: 40px;
    padding-left: 40px;
  }

  &::after {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($primary_title,.9);

    @include media-breakpoint-down(md){
      width: 60px;
      height: 60px;
    }

    @include media-breakpoint-down(sm){
      width: 40px;
      height: 40px;
    }
  }

  &.square-blue {
    &::after {
      background-color: rgba($primary_blue,.9);
    }
  }

  &.square-blue-light {
    &::after {
      background-color: rgba($primary_blue_light,.9);
    }
  }

  &.square-green {
    &::after {
      background-color: rgba($primary_green2,1);
    }
  }
}


/* Global Classes
------------------------------------------------------------*/
.overlap-wrapper {
  position: relative;
}

.overlap-container-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlap-container-front {
  position: relative;
  z-index: 4;
}

.slideshow-text .arrow-prev,
.slideshow-text .arrow-next {
  font-size: 32px;
}

.bg-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.asty-med { font-family: $font_astyMed; }
.asty-bold { font-family: $font_astyBold; }
.asty-book { font-family: $font_astyBook;}
.asty-light { font-family: $font_astyLight; }

.fw300 { font-weight: 300; }
.fw600 { font-weight: 600; }
.fsize42 {
  font-size: 46px;

  @include media-breakpoint-down(sm){
    font-size: 36px;
  }
}

.white { color: #FFF; }
.blue { color: $primary; }
.green { color: $primary_green; }
.green2 { color: $primary_green2; }
.green-light { color: $primary_title; }
.blue-light { color: $primary_blue_light; }
.blue-secondary { color: $secondary_blue; }
.red { color: $primary_red; }
.bg-blue { background-color: rgba($primary_blue,.5); }
.blue-bg { background-color: rgba($primary_blue,1); }
.black { color: #000; }

.tc { text-align: center; }
.tr { text-align: right; }
.tl { text-align: left; }

.light { font-weight: 300; }
.bold { font-weight: 600; }
.bolder { font-weight: 700; }

.uppercase { text-transform: uppercase; }

.mb1 { margin-bottom: 1rem; }
.mb2 { margin-bottom: 2rem; }
body .mb0 { margin-bottom: 0; }

.pt1 { padding-top: 1rem; }
.pt2 { padding-top: 2rem; }
.pt3 { padding-top: 3rem; }
.pb1 { padding-bottom: 1rem; }
.pb2 { padding-bottom: 2rem; }
body .pb0 { padding-bottom: 0; }

.mb3 {
  margin-bottom: 3rem;

  @include media-breakpoint-down(sm){
    margin-bottom: 2rem;
  }
}

.mb4 {
  margin-bottom: 4rem;

  @include media-breakpoint-down(sm){
    margin-bottom: 2rem;
  }
}

.pb3 {
  padding-bottom: 3rem;

  @include media-breakpoint-down(sm){
    padding-bottom: 2rem;
  }
}

.pb4 {
  padding-bottom: 4rem;
  @include media-breakpoint-down(sm){
    padding-bottom: 2.2rem;
  }
}

.pt4 {
  padding-top: 4rem;
  @include media-breakpoint-down(sm){
    padding-top: 2.2rem;
  }
}

.title-2 {
  font-size: $size_h1;

  @include media-breakpoint-down(sm){
    font-size: 42px;
  }
}

.title-3 {
  font-size: $size_h2;

  @include media-breakpoint-down(md){
    font-size: 26px;
  }

  @include media-breakpoint-down(sm){
    font-size: 22px;
  }
}

.title-4 {
  font-size: $size_h3;
}

.desc {
  font-size: $size_p;
  font-weight: 600;

  @include media-breakpoint-down(sm){
    font-size: 13px;
  }

  ul {
    padding-left: 1.1rem;
  }

  a:link,
  a:visited,
  a:active {
    color: $primary_blue_light;
  }

  &.desc-400 {
    font-weight: 400;

    strong {
      font-weight: 600;
    }
  }
}



.slide-item {
  img {
    width: 100%;
    display: block;
    height: auto;
  }
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50% 50%;
}

.mouse-inner {
  perspective: 25px;
  width: 100%;
}

//bln,mln and etc.
h3,
h4,
h5,
.title-3  {
  i {
    font-size: 22px;
    font-style: normal;
    margin: 0 9px;
    position: relative;

    @include media-breakpoint-down(md){
      font-size: 20px;
    }

    @include media-breakpoint-down(sm){
      font-size: 18px;
    }
  }
}

.cover {
  @include cover();
}


.pie {
  .doughnutSummaryTitle,
  .doughnutSummary,
  p {
    display: none;
  }

  svg {
    > path{
      fill: rgba(0,0,0,0) !important;
    }

    g {
      path {
        stroke-width: 0 !important;
      }
    }
  }
}


/* Section number
------------------------------------------------------------*/
.section-num {
  @include section_counter(22%);
}


/* Section Wrapper
------------------------------------------------------------*/
.page-section {
  position: relative;
}

.section-title {
  @include section_title(4rem);
}

.section-subtitle {
  margin-bottom: 4rem;
  @include subtitle(38%);

  @include media-breakpoint-down(sm){
    margin-bottom: 3rem;
  }
}

.section-parallax {
  transition: all 20ms ease-out;
}


/* Global Inner section 1 - content, title, subtitle
------------------------------------------------------------*/
.inner-section-1 {
  @include cover();
  position: relative;

  .header-wrap {
    text-align: center;
    position: relative;
    z-index: 4;
    padding: 4rem 0;

    @include media-breakpoint-down(sm){
      padding: 2.2rem 0;
    }

    hgroup {
      position: relative;
    }
  }
}


/* Global Inner section 1 - content, title, subtitle
------------------------------------------------------------*/
.read-more {
  position: relative;
  padding: 20px 10px 0 10px;
  display: inline-block;
  transition: all 500ms ease;
  color: $secondary_blue;
  width: 70px;
  margin-left: auto;
  margin-right: auto;

  &::before {
    content: "";
    background-size: 35px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 50% 5px;
    background-image: url('#{$path-images}/arrow-more.svg');
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 30px;
    position: absolute;
    top: -3px;
    bottom: auto;
    left: 0;
    transition: all 500ms ease;
  }

  &:hover {
    background-position: 50% 2px;
    opacity: .9;
    text-decoration: none;
    color: $secondary_blue;

    &::before {
      top: -1px;
    }
  }

  &.active {
    &::before {
      transform: rotate(-180deg);
    }
  }
}
