.scroll-section {
  &.page-68 {
    margin-top: -1px;
    overflow: visible;
  }
}

/* Chart
------------------------------------------------------------*/
.chart-1 {
  position: absolute;
  right: 10%;
  top: -80px;
  left: auto;
  z-index: 5;
  width: 180px;
  height: 222px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0 0;
  background-image: url('#{$path-images}/chart-grid.png');

  @include media-breakpoint-down(lg){
    width: 120px;
    height: 162px;
  }

  @include media-breakpoint-down(md){
    display: none;
  }

  svg {
    width: 100%;
    height: auto;

    #Stroke-16 {
      stroke-width: 3;
      stroke: $primary_blue_light;
      fill: none;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
    }

    #Group-33 {
      path {
        opacity: 0;
        transition: all 540ms ease;
      }
    }
  }
}

@keyframes chart1 {
  from {
    stroke-dashoffset: 822;
  }

  to {
    stroke-dashoffset: 1000;
  }
}


.on-viewport {
  &.element-visible {
    &.chart-1 {
      svg {
        #Stroke-16 {
          animation: chart1 2s linear 1s 1 reverse both;
        }

        #Group-33 {
          path {
            opacity: 1;

            &:nth-of-type(1) { transition-delay: 0.4s !important; }
            &:nth-of-type(2) { transition-delay: 0.4s !important; }
            &:nth-of-type(3) { transition-delay: 0.8s !important; }
            &:nth-of-type(4) { transition-delay: 0.8s !important; }
            &:nth-of-type(5) { transition-delay: 1.2s !important; }
            &:nth-of-type(6) { transition-delay: 1.2s !important; }
            &:nth-of-type(7) { transition-delay: 2s !important; }
            &:nth-of-type(8) { transition-delay: 2s !important; }
          }
        }
      }
    }
  }
}


/* First section
------------------------------------------------------------*/
.financial-content-wrap {
  .inner-section-1 {
    background-attachment: cover;
    padding-bottom: 440px;

    @include media-breakpoint-down(sm){
      padding-bottom: 220px;
    }

    &::after {
      content: "";
      position: absolute;
      height: 60px;
      background-color: rgba($primary_blue,.9);
      width: 100%;
      top: auto;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
    }

    &::after {
      background-color: rgba($primary_blue,.9);
    }

    .header-wrap {
      background-color: rgba($primary_blue,.9);
    }
  }
}


/* Second section
------------------------------------------------------------*/
.financial-content-wrap {
  .inner-section-2 {
    padding: 2rem 0 0;
    background-color: $primary_blue_light;

    @include media-breakpoint-down(sm){
      padding: 4rem 0 0;
    }

    .header-wrap {
      text-align: center;

      .section-subtitle {
        margin-bottom: 2rem;
      }

      img {
        display: inline-block;
        margin-bottom: 1rem;
      }
    }
  }
}


/* Second
------------------------------------------------------------*/
.financial-content-wrap {
  .numerical-wrap {

    .item {

      @include media-breakpoint-down(sm){
        max-width: 50%;
      }

      .wrap-data {
        padding-left: 30%;

        .first {
          position: relative;
          color: #FFF;
        }

        .desc {
          font-weight: 400;
        }

        .second {
          color: $primary_blue;
        }

        h5 {
          font-size: $size_header;
          margin-bottom: 0;

          @include media-breakpoint-down(sm){
            font-size: 32px;
          }
        }

        .subtitle {
          font-weight: 600;
          font-size: $size_h4;
          line-height: 1.1;
          margin-bottom: 10px;
        }
      }

      .arrow-1 {
        position: absolute;
        left: -40px;
        top: 12px;
        width: 32px;
        height: 32px;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: 50% 50%;
        background-image: url('#{$path-images}/arrow-up-white.png');

        @include media-breakpoint-down(sm){
          width: 24px;
          height: 24px;
        }
      }

      .arrow-2 {
        width: 32px;
        height: 32px;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: 50% 50%;
        background-image: url('#{$path-images}/arrow-up-white.png');

        @include media-breakpoint-down(sm){
          width: 24px;
          height: 24px;
        }
      }

      &.left-arrow {
        .arrow-1 {
          display: block;
        }
      }

      &.down-arrow {
        .arrow-2 {
          display: block;
        }
      }
    }
  }
}


/* Share Capital Increase - section 3
------------------------------------------------------------*/
.financial-content-wrap {
  .inner-section-3 {
    @include cover();

    .section-subtitle {
      &::after,
      &::before {
        width: 34%;

        @include media-breakpoint-down(sm){
          width: 20%;
        }
      }
    }

    .data-table {
      @include datatable(#FFF,#000,#FFF);
    }
  }
}


/* Charts
------------------------------------------------------------*/
.charts-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .chart-item {
    width: 40%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 250px;
    justify-content: center;
    margin: 0 1rem 3rem;

    @include media-breakpoint-down(md){
      width: 100%;
    }
  }

  .text {
    font-size: $size_h4;
    color: #FFF;
    font-weight: 500;
    text-align: center;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    width: 240px;
    overflow: hidden;

    @include media-breakpoint-down(sm){
      width: 205px;
    }

    li {
      color: #FFF;
      width: 50px;
      list-style-type: none;
      text-align: center;
      margin: 0 6px;
      transition: all 4s ease 1s;

      @include media-breakpoint-down(sm){
        margin: 0;
      }

      .val {
        display: inline-block;
        font-size: 15px;
        margin-bottom: 5px;
        width: 50px;
      }

      .bar {
        display: inline-block;
        transition: all 6s ease;
        width: 40px;
      }
    }
  }
}


.charts-wrap {
  &.on-viewport {
    ul {
      li {
        transform: translateY(50%);
      }
    }

    &.element-visible {
      ul {
        li {
          transform: translateY(0);
        }
      }
    }
  }
}


/* Stock section 4
------------------------------------------------------------*/
.financial-content-wrap {
  .inner-section-4 {
    .section-subtitle {
      &::after,
      &::before {
        width: 32%;

        @include media-breakpoint-down(lg){
          width: 27%;
        }

        @include media-breakpoint-down(sm){
          width: 14%;
        }
      }
    }

    .desc {
      margin-bottom: 5rem;
    }

    .stock-chart {
      position: relative;
      margin-bottom: 4rem;
      background-size: 697px auto;
      background-color: transparent;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-image: url('#{$path-images}/numerical-01.png');
      height: 320px;
      width: 100%;
      padding: 0 30px 0 20px;

      @include media-breakpoint-down(lg){
        background-size: 590px auto;
        height: 270px;
        margin-bottom: 2rem;
      }

      @include media-breakpoint-down(sm){
        background-size: 480px auto;
        height: 220px;
      }
    }
  }
}



/* Stock chart numbers
------------------------------------------------------------*/
.stock-chart {
  .data-val {
    font-size: $size_h3;
    font-weight: 700;
    position: absolute;
    z-index: 6;
    transition: all 400ms ease;
    opacity: 0;

    @include media-breakpoint-down(lg){
      font-size: 20px;
    }

    &.val-1 {
      top: 0;
      right: 22%;
      transition-delay: 0s;
    }

    &.val-2 {
      top: 70%;
      right: 10%;
      transition-delay: 1.5s;
    }

    &.val-3 {
      top: 74%;
      right: 36%;
      transition-delay: 2s;
    }
  }
}


/* Stock chart nav
------------------------------------------------------------*/
.stock-chart-nav {
  position: absolute;
  left: 40px;
  top: 10px;
  z-index: 2;
  width: auto;
  //transition: all 1s ease;
  //opacity: 0;
  @include media-breakpoint-down(lg){
    top: 0;
  }

  .item {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
  }

  .square {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 6px;

    @include media-breakpoint-down(sm){
      width: 10px;
      height: 10px;
      margin-right: 4px;
    }
  }

  .text {
    font-size: 11px;

    @include media-breakpoint-down(lg){
      font-size: 9px;
    }
  }
}


/* Stock chart svg animation
------------------------------------------------------------*/
.stock-chart {
  //transition: all 1s ease;
  //transform: translateY(50px);

  svg {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    top: 0;

    #Fill_1,
    #Fill_3,
    #Fill_5 {
      opacity: 0;
      transition: all 400ms ease;
      //stroke-width: 2;
      //fill: none;
      //stroke-dasharray: 5000;
      //stroke-dashoffset: 5000;
    }
  }
}


.on-viewport {
  &.element-visible {
    &.stock-chart {
      //transform: translateY(0);

      .stock-chart-nav {
        //opacity: 1;
      }

      .data-val {
        opacity: 1;
      }

      svg {
        #Fill_1,
        #Fill_3,
        #Fill_5 {
          opacity: 1;
          //animation: stockChart 5s linear 1s 1 reverse both;
        }

        #Fill_1 { transition-delay: 0.4s !important; } //animation-delay: 0.4s !important;
        #Fill_3 { transition-delay: 2s !important; } //animation-delay: 2s !important;
        #Fill_5 { transition-delay: 3s !important; } //animation-delay: 3s !important;
      }
    }
  }
}

//keyframes
@keyframes stockChart {
  from {
    stroke-dashoffset: 822;
  }

  to {
    stroke-dashoffset: 6000;
  }
}



/* Animations for all sections
------------------------------------------------------------*/
.on-viewport {
  .s1-chart {
    opacity: 0;
    transition: opacity 1s ease;
  }
}


//Init - and delay
.on-viewport {
  &.element-visible {

    .s1-chart {
      opacity: 1;
    }
  }
}
