.at-a-glance {
  position: relative;
  background-color: $primary_blue_light;
  overflow: hidden;
  margin-bottom: 6rem;

  .top-title-wrap {
    background-color: #FFF;
    display: flex;
    align-items: center;
    padding: .5rem 2rem 2rem;
    width: calc(100% - 100px);
    position: relative;
    z-index: 6;
    height: 100px;

    @include media-breakpoint-down(sm){
      height: 70px;
    }

    h2 {
      text-transform: uppercase;
      @include media-breakpoint-down(sm){
        font-size: 22px;
        margin-top: 15px;
      }
    }
  }

  video {
    position: absolute;
    top: -110px;
    bottom: auto;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 1550px;
    object-fit: cover;
  }

  .inner-section-2 {
    position: relative;
    z-index: 4;
    background-color: transparent !important;

    .section-subtitle {
      color: #FFF;
    }

    .numerical-wrap .item .arrow-1 {
      display: none !important;
    }
  }
}
