
/* Inner 1
------------------------------------------------------------*/

.sustainable-content-wrap {
  padding-top: 100px;

  .inner-section-1 {

    @include media-breakpoint-down(sm){
      background-position: 0px 188px;
    }

    hgroup {
      position: absolute;
      top: -100px;
      width: 100%;

      @include media-breakpoint-up(lg){
        top: -170px;
      }

      @include media-breakpoint-down(sm){
        top: -100px;
      }
    }

    .section-num {
      color: rgba(#000,.9);
      opacity: .2;
      left: auto;
      right: 30%;
      bottom: 70px;
    }

    .desc {
      background-color: $primary_green2;
      margin-left: 100px;
      max-width: 660px;
      padding: 2rem;
      text-align: left;

      @include media-breakpoint-down(sm){
        margin-left: 60px;
      }

      @include media-breakpoint-down(sm){
        margin-left: 40px;
      }
    }

    .header-wrap {
      padding-top: 0;
      padding-bottom: 340px;

      @include media-breakpoint-down(lg){
        padding-bottom: 300px;
      }

      @include media-breakpoint-down(sm){
        padding-bottom: 220px;
      }
    }

    .section-subtitle {
      &::before,
      &::after {
        width: 32%;

        @include media-breakpoint-down(lg){
          width: 28%;
        }

        @include media-breakpoint-down(sm){
          width: 18%;
        }
      }
    }
  }
}



/* Inner 2
------------------------------------------------------------*/
.sustainable-content-wrap {
  .margin-true-prev {
    padding-bottom: 80px;
  }

  .margin-true {
    padding: 0;

    .section-subtitle,
    .text-2 {
      position: relative;
      top: -55px;
      padding-top: 0;
    }
  }

  .inner-section-2 {
    .section-subtitle {
      margin-bottom: 1rem;

      &.border-no {
        &::before,
        &::after {
          display: none;
        }
      }
    }

    .secondary-desc {
      font-size: $size_sm;
    }
  }
}

/* Inner 3
------------------------------------------------------------*/
.sustainable-content-wrap {
  .inner-section-3 {
    background-size: 222px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 110% 0;
    background-image: url('#{$path-images}/icon-recycle.svg');

    @include media-breakpoint-down(sm){
      background-size: 142px;
      background-position: 120% 10%;
    }

    svg {
      animation: wasteUpDown 0.5s linear 0.4s infinite alternate both;
    }
  }
}



@keyframes wasteUpDown {
  from {
    transform: translate(0,8px);
  }

  to {
    transform: translate(0,-4px);
  }
}


/* Inner 4
------------------------------------------------------------*/
.sustainable-content-wrap {
  .waste-data-repeater {
    justify-content: center;
    position: relative;

    &::after {
      content: "";
      display: none;
      position: absolute;
      bottom: -8px;
      left: 0;
      right: 0;
      z-index: 0;
      width: 100%;
      height: 40px;
      background-size: 450px auto;
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: 50% 50%;
      background-image: url('#{$path-images}/bottom-line.jpg');

      @include media-breakpoint-down(sm){
        background-size: 320px auto;
      }
    }
  }
}

.sh1 {
  margin-top: 140px;

  &::before {
    content: "";
    position: absolute;
    top: -80px;
    left: 0;
    z-index: 0;
    width: 408px;
    height: 240px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 50% 50%;
    background-image: url('#{$path-images}/shutterstock1.jpg');

    @include media-breakpoint-down(sm){
      width: 368px;
      height: 200px;
    }
  }
}

.sustainable-content-wrap {
  .inner-section-4 {
    box-shadow: 0 4px 3px rgba(#666,.3);
  }
}


/* Inner 5
------------------------------------------------------------*/
.sustainable-content-wrap {
  .inner-section-5 {
    position: relative;
    margin-left: 100px;
    background-color: #e9e9e9;

    .social-data-repeater {
      .icon {
        margin-bottom: 5px;
      }
      .title-3,
      .title-2 {
        i {
          font-size: 14px;
        }
      }
    }
  }
}

/* Inner 7
------------------------------------------------------------*/
.sustainable-content-wrap {
  .inner-section-6 {

    .col-sm-6 {
      @include media-breakpoint-down(sm){
        max-width: 50%;
      }
    }

    header {
      overflow: hidden;

      h4 {
        font-size: 30px;
        display: inline-block;
        background-color: #FFF;
        padding: 0 20px 0 0;
        position: relative;

        &::after {
          content: "";
          width: 1000%;
          height: 2px;
          background: $primary;
          display: block;
          position: absolute;
          top: 78%;
          left: 100%;
        }
      }
    }
  }



  .inner-section-7,
  .inner-section-6 {
    .wrap-desc {
      padding-right: 3rem;

      @include media-breakpoint-down(sm){
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }

    h3 {
      i {
        font-size: 14px;
      }
    }
  }

  .inner-section-7 {
    @include media-breakpoint-down(sm){
      .col-item {
        text-align: center;
      }
    }
  }
}



/* Inner 8
------------------------------------------------------------*/
.sustainable-content-wrap {
  .inner-section-8 {
    img {
      max-width: 100%;
      height: auto;
    }

    .content_section-3rd,
    .content_section-4th {
      .row {
        @include media-breakpoint-down(sm){
          flex-direction: column;
        }
      }
    }


    .slideshow-text {
      .slide-item {
        padding-top: 30px;
        h5 {
          font-size: 24px;
        }

        p {
          font-size: 18px;
        }
      }
    }

    .content_section-3rd {
      h2 {
        font-size: 20px;
      }
    }
  }

  .content_section-4th {
    .col-left {
      position: relative;
      &::before {
        z-index: -1;
        content: "";
        position: absolute;
        top: -100px;
        left: -80px;
        width: 120%;
        height: 80%;
        display: block;
        background-color: rgba($primary_green2,.3);

        @include media-breakpoint-down(sm){
          width: 80%;
          height: 68%;
          top: -60px;
          left: -50px;
        }
      }
    }
  }
}
