//Timer
@include timer('.fullpie-wrapper', 3, 130px, $primary_blue_light, 'none', pause);

/* Timer
------------------------------------------------------------*/
.investment-content-wrap {
  .inner-section-1 {
    padding-top: 100px;

    .section-num {
      color: $primary_blue_light;
    }

    .header-wrap {
      padding-top: 100px;
      padding-right: 100px;
      margin-bottom: 4rem;

      @include media-breakpoint-down(md){
        padding-top: 60px;
        padding-right: 60px;
      }

      @include media-breakpoint-down(sm){
        padding-top: 40px;
        padding-right: 40px;
      }
    }

    hgroup {
      position: absolute;
      width: 100%;
      top: -50px;
      text-align: left;

      .section-title {
        @include media-breakpoint-up(lg){
          padding-left: 90px;
        }
      }

      .section-num {
        bottom: -80px;
      }
    }

    .fullpie-wrapper {
      position: relative;
      margin: 0 auto;
      background: #FFF;
      width: 130px;
      height: 130px;
      border: 8px solid #9b9b9b;
      border-radius: 50%;
      overflow: hidden;

      .title-3 {
        position: absolute;
        top: 32%;
        z-index: 999;
        width: 114px;
        display: inline-block;
        text-align: center;
        color: #FFF;
        opacity: 0;
        transition: all 800ms ease;
      }

      .piespinner,
      .piefiller,
      .piemask {
        animation-play-state: pause !important;
        animation-iteration-count: 1 !important;
        animation-fill-mode: both !important;
      }
    }
  }
}

/* Timer
------------------------------------------------------------*/
.investment-content-wrap {
  .inner-section-1 {
    &.on-viewport {
      .title-3 {
        transition-delay: 2s;
      }

      &.element-visible {
        .fullpie-wrapper {
          .title-3 {
            opacity: 1;
          }

          .piespinner {
            animation: rota 2.2s linear infinite .5s;
          }

          .piefiller {
            animation: opa 2.2s steps(1,end) infinite reverse .5s;
          }

          .piemask {
            animation: opa 2.2s steps(1,end) infinite .5s;
          }

          .piespinner,
          .piefiller,
          .piemask {
            animation-iteration-count: 1 !important;
            animation-fill-mode: both !important;
          }
        }
      }
    }
  }
}


/* Inner 1
------------------------------------------------------------*/
.investment-content-wrap {
  .inner-section-1 {
    .investment-pie {

      .item {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;

        @include media-breakpoint-down(sm){
          flex-wrap: wrap;
        }

        h5 {
          display: inline-block;
        }

        .col-wrap {
          padding: 0 1rem;

          @include media-breakpoint-down(sm){
            width: 100%;
            text-align: center;
            justify-content: center;
          }

          &.col-first {
            width: 20%;
            @include media-breakpoint-down(sm){
              width: 100%;
            }
          }

          &.col-second {
            margin-bottom: 1rem;

            img,
            svg {
              width: 130px;
              height: auto;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}



.draw-pie {
  width: 120px;
  height: 120px;
  display: block;
  border-radius: 50%;
  background-color: #FFF;
  border: 6px solid #666;
  margin: 1em;
  transition: all 4s ease;
  background-image:
        linear-gradient(360deg, white 0%, $primary_blue_light 50%);
}



.on-viewport {
  .investment-pie {
    svg {
      #Group-31 {
        path:nth-of-type(1) {
          //fill: none;
          //stroke-dasharray: 1000;
          //stroke-dashoffset: 2000;
          //transition: all 4s ease;
        }
      }
    }
  }

  &.element-visible {

    svg {
      #Group-31 {
        path:nth-of-type(1) {
          //fill: $primary_blue_light;
          //animation: pie1 5s linear 1s infinite reverse both;
        }
      }
    }
  }
}


@keyframes pie1 {
  from {
    stroke-dashoffset: 822;
  }

  to {
    stroke-dashoffset: 2000;
  }
}



/* Chart wrap
------------------------------------------------------------*/
.inverstment-chart-wrap {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4rem;
  position: relative;

  .chart-item {
    margin-bottom: 4rem;
    padding-left: 2rem;
    width: 50%;

    @include media-breakpoint-down(sm){
      width: 100%;
      padding-left: 1rem;
      margin-bottom: 2rem;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &.col-fullwidth {
      h5 {
        transform: translateX(14%);
        text-align: center;
      }

      ul {
        overflow: visible !important;
        li {
          overflow: hidden;

          &:nth-of-type(1) {
            justify-content: flex-end;
            transform: translateX(-50%);

            .bar {
              transform: translateX(80%);
            }
          }

          &:nth-of-type(2) {
            justify-content: flex-start;
            transform: translateX(50%);

            .bar {
              transform: translateX(-50%);
            }
          }
        }
      }
    }
  }

  .chart-item {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 100%;
      overflow: hidden;

      li {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0 0 .5rem;
      }
    }

    h5 {
      font-size: $size_p;
    }

    .val {
      width: 40px;
      font-size: 18px;
      font-weight: 600;
      margin: 0 8px;

      &.left {
        text-align: right;
      }

      &.right {
        text-align: left;
      }
    }

    .bar {
      height: 25px;
    }
  }
}


/* Animation
------------------------------------------------------------*/
.on-viewport {
  &.inverstment-chart-wrap {
    ul {
      li {
        transition: all 3s ease;
        transform: translateX(-50%);
      }
    }

    &.element-visible {
      ul {
        li {
          transition-delay: .6s;
          transform: translateX(0);
        }
      }

      .col-fullwidth {
        ul {
          li {
            .bar {
              transition: all 3.4s ease .4s;
              transform: translateX(0);
            }
          }
        }
      }
    }
  }
}



/* Chart Nav
------------------------------------------------------------*/
.investment-content-wrap {
  .chart-nav {
    position: absolute;
    left: -60px;
    top: 20%;
    width: auto;
    transform: rotate(-90deg);

    .title {
      font-size: $size_p;
      font-weight: 600;
      margin: 0 4px;

      @include media-breakpoint-down(sm){
        font-size: 12px;
      }
    }
  }
}

/* Table wrap
------------------------------------------------------------*/
.inverstment-table-wrap {
  img {
    margin-bottom: 5px;
  }

  .data-table {
    @include datatable(#dcdcdc, #000, $primary_blue_light);

    p {
      font-size: $size_p;

      @include media-breakpoint-down(sm){
        font-size: 13px;
      }
    }

    table {
      margin-bottom: 1rem;

      th {
        font-weight: 600;
        font-size: $size_p;
        @include media-breakpoint-down(sm){
          font-size: 11px;
        }
      }

      tr {
        color: #000 !important;
      }
    }
  }
}


/* Chart wrap
------------------------------------------------------------*/
.investment-mall-chart {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  padding: 0 4rem;
  position: relative;

  .chart-item {
    margin-bottom: 3rem;
    padding-left: 2rem;
    width: 25%;

    @include media-breakpoint-down(sm){
      width: 50%;
      padding-left: 1rem;
      margin-bottom: 2rem;
    }
  }

  .chart-item {
    ul {
      padding: 0;
      list-style-type: none;
      width: 100%;
      overflow: hidden;
      height: 165px;
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-end;
      justify-content: center;
      margin: 0 0 1rem;

      li {
        margin: 0 8px;
        width: 32px;
      }
    }

    .counter {
      font-size: $size_h3;
    }

    .top-title {
      font-size: $size_p;
      margin: 0;
    }

    .bottom-title {
      font-size: $size_p;
      margin: 0;
    }

    .val {
      width: 40px;
      font-size: 18px;
      font-weight: 600;
      margin: 0 6px;
    }

    .bar {
      position: relative;
      width: 35px;
    }

    .val-2 {
      width: 60px;
      font-size: 14px;
      font-weight: 600;
      margin: 0;
      position: absolute;
      bottom: 40%;
      left: -12px;
      z-index: 5;
      transform: rotate(-90deg);
      color: #FFF;
    }
  }
}


/* Animation mall chart
------------------------------------------------------------*/
.on-viewport {
  &.investment-mall-chart {
    ul {
      li {
        transition: all 3.4s ease;
        transform: translateY(90%);
      }
    }

    &.element-visible {
      ul {
        li {
          transition-delay: .6s;
          transform: translateY(0);
        }
      }
    }
  }
}



/* FX Parallax
------------------------------------------------------------*/
.investment-content-wrap {
  .inner-section-4 {
    display: flex;
    width: 100%;
    padding-bottom: 100px;
    overflow: hidden;

    &.item-flisvosmarina {
      margin-bottom: 40px;
    }

    @include media-breakpoint-down(sm){
      padding-bottom: 60px;
    }

    .parallax-image {
      position: relative;
      bottom: auto;
      left: auto;
      right: auto;
      height: 99vh;
      width: 70%;
      display: flex;
      align-items: flex-end;
      @include cover();
      transition: all 360ms ease;
      background-position: 50% 0;

      .slideshow-init {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }

      @include media-breakpoint-down(sm){
        width: 100%;
        height: auto;
        padding-top: 300px;
        background-size: auto 500px;
      }
    }

    .title {
      font-size: $size_header;
      margin-bottom: 1rem;
      color: #000;

      @include media-breakpoint-down(sm){
        font-size: 32px;
      }
    }

    .parallax-description {
      transition: all 360ms ease;
      position: relative;
      background-color: #FFF;
      padding: 2rem 3rem 1rem 2rem;
      width: 78%;
      bottom: 0;
      top: auto;
      overflow: auto;
      max-height: 100%;

      @include media-breakpoint-down(sm){
        width: 100%;
        padding: 1.5rem 15px 1rem 15px;
      }
    }
  }
}

.investment-content-wrap {
  .inner-section-4 {
    &.item-goldenhall {
      .parallax-description {
        @include media-breakpoint-up(lg){
          width: 60%;
        }
      }

      &.pos-right {
        .parallax-description {
          @include media-breakpoint-up(lg){
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}


/* Section 6
------------------------------------------------------------*/
.investment-content-wrap {
  .inner-section-6 {

    .slideshow-text {
      @include media-breakpoint-down(sm){
        padding: 0;
      }
    }

    .slick-slider {
      .arrow-prev {
        left: 2%;
        bottom: 5%;
        top: auto;

        @include media-breakpoint-up(lg){
          left: 12%;
        }

        @include media-breakpoint-down(sm){
          bottom: 0;
          left: 1% !important;
        }

        .fa {
          @include media-breakpoint-down(sm){
            font-size: 24px;
          }
        }
      }

      .arrow-next {
        right: 2%;
        bottom: 5%;
        top: auto;

        @include media-breakpoint-up(lg){
          right: 12%;
        }

        @include media-breakpoint-down(sm){
          bottom: 0;
        }

        .fa {
          @include media-breakpoint-down(sm){
            font-size: 24px;
          }
        }
      }
    }

    .title {
      font-size: $size_header;
      margin-bottom: 1rem;
      color: #000;

      @include media-breakpoint-down(sm){
        font-size: 28px;
      }
    }

    .slideshow-content-bottom {
      transform: translateY(-6%);

      .description {
        overflow: hidden !important;
      }

      @include media-breakpoint-up(lg){
        transform: translateY(-30%);
      }
    }

    .description {
      transition: all 360ms ease;
      position: relative;
      background-color: #FFF;
      padding: 2rem 3rem 1rem 3rem;
      width: 100%;
      bottom: 0;
      top: auto;
      overflow: auto;
      max-height: 100%;

      @include media-breakpoint-down(sm){
        width: auto;
        padding: 1.5rem 15px 1rem 15px;
        margin: 0 20px;
      }
    }
  }
}


/* Parallax Image and content Position
------------------------------------------------------------*/
.investment-content-wrap {
  .inner-section-4 {
    &.pos-left {
      justify-content: flex-start;

      .parallax-image {
        justify-content: flex-end;
      }

      .parallax-description {
        transform: translateX(40%);

        @include media-breakpoint-down(sm){
          transform: translateX(0);
        }
      }
    }

    &.pos-right {
      justify-content: flex-end;

      .parallax-image {
        justify-content: flex-start;
      }
      .parallax-description {
        transform: translateX(-40%);

        @include media-breakpoint-down(sm){
          transform: translateX(0);
        }
      }
    }
  }
}

.inner-section-4 {
  &.on-viewport {
    opacity: 0;
    transition: all 1.6s ease;
    transform: translateY(20%);

    &.element-visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
}




/* FX Icons
------------------------------------------------------------*/
.investment-content-wrap {
  .inner-section-5 {
    position: relative;
    z-index: 5;
    margin-bottom: 60px;

    @include media-breakpoint-down(sm){
      padding-bottom: 0;
      margin-bottom: 50px;
    }

    &:last-of-type {
      margin-bottom: 0 !important;
    }

    .container {
      position: relative;
      z-index: 5;
    }

    &::before {
      content: "";
      height: 100%;
      min-height: 100%;
      width: 100%;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
      background-color: #FFF;
    }

    &::after {
      content: "";
      height: 20px;
      width: 100%;
      position: absolute;
      bottom: 0;
      top: auto;
      left: 0;
      right: 0;
      background-color: #000;
      z-index: 1;
      display: block;
      box-shadow: 0 2px 16px rgba(#ccc,.9);
    }
  }
}


/* FX Icons
------------------------------------------------------------*/
.investment-content-wrap {
  .inner-section-5 {

    .col-item {
      @include media-breakpoint-down(sm){
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 2rem;
        text-align: center;
      }
    }

    .item-wrap {
      position: relative;
      top: -1rem;
      display: flex;
      width: 100%;
      justify-content: center;

      .item {
        width: 100%;
        //transform: translateY(20%);
      }
    }

    .numscroller {
      width: 100%;
    }

    img {
      transition: all 1.4s ease;
      height: 76px;
      width: auto;
    }

    h5 {
      font-weight: 700;
    }

    .wrap-desc {
      font-size: $size_p;
    }
  }
}

.inner-section-5 {
  &.on-viewport {

    &.element-visible {
      .item {
        transform: translateY(0);
      }

      .item-1 {
        transition-delay: .2s;
      }

      .item-2 {
        transition-delay: .4s;

      }

      .item-3 {
        transition-delay: .6s;

      }

      .item-4 {
        transition-delay: .8s;

      }
    }
  }
}


/* Section 7
------------------------------------------------------------*/
.investment-content-wrap {
  .inner-section-7,
  .inner-section-9 {
    .col-sm-6 {
      @include media-breakpoint-down(sm){
        max-width: 50%;
      }
    }
  }
}



/* Section 8
------------------------------------------------------------*/
.investment-content-wrap {
  .inner-section-8 {
    background-repeat: repeat;
    background-color: transparent;
    background-position: center;
    background-image: url('#{$path-images}/bg-blue.png');

    img {
      max-width: 100%;
      height: auto;
      display: inline-block;
    }

    .desc {
      h5 {
        @include media-breakpoint-down(sm){
          font-size: 14px;
        }
      }
    }
  }

  .inner-section-10 {
    background-size: 100%;
    background-repeat: repeat-y;
    background-color: transparent;
    background-position: center center;
    background-image: url('#{$path-images}/gradient-bg.jpg');
  }
}

/* Section 10
------------------------------------------------------------*/
.investment-content-wrap {
  .inner-section-10 {
    position: relative;
    overflow: hidden;

    .container {
      position: relative;
      z-index: 6;
    }

    video {
      position: absolute;
      top: 0;
      bottom: auto;
      left: 0;
      right: 0;
      width: 100vw;
      height: 640px;
      object-fit: cover;
      z-index: 1;

      @include media-breakpoint-down(sm){
        //display: none;
      }
    }

    .chart-item {
      width: auto;
      max-width: 440px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
    }

    .chart-nav {
      position: relative;
      left: 0;
      right: 0;
      transform: rotate(0);
    }

    .charts-wrap {
      position: relative;
      flex-direction: column;

      ul {
        width: 100%;
        overflow: hidden;

        li {
          margin: 0 20px;
          text-align: center;

          @include media-breakpoint-down(sm){
            margin: 0 6px;
          }

          .title-top {
            position: relative;
            top: 0;
            display: block;
            left: 0;
            right: 0;
            width: 50px;
            height: 30px;
            background-color: #FFF;
            font-size: 17px;
            font-weight: 600;
          }

          .bar {
            font-size: 14px;
            padding-top: 6px;
            margin-bottom: 8px;
            width: 50px;
            position: relative;
            color: #29ABE2;
          }
        }
      }
    }
  }
}

/* Section 10
------------------------------------------------------------*/
.investment-content-wrap {
  .inner-section-11 {
    .stock-chart {
      position: relative;
      margin-bottom: 4rem;
      background-size: 560px auto;
      background-color: transparent;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-image: url('#{$path-images}/bitmap2020.svg');
      height: 570px;
      width: 100%;
      padding: 0 80px 0 46px;


      svg {
        position: relative;
        top: 40px;
      }

      @include media-breakpoint-down(lg){
        background-size: 505px auto;
        height: 520px;
        margin-bottom: 2rem;
      }

      @include media-breakpoint-down(sm){
        padding: 0 80px 0 34px;
        background-size: 350px auto;
        height: 360px;
      }
    }
  }

  .stock-chart-nav {
    left: auto;
    right: -80px;

    @include media-breakpoint-down(sm){
      right: 0;
    }

    .item {
      padding: 4px 4px 4px 8px;
      color: #FFF;
      margin-bottom: 3rem;
    }

    .text {
      font-size: 18px;

      @include media-breakpoint-down(sm){
        font-size: 13px;
      }
    }
  }
}



.page-994 {
  .investment-content-wrap {
    .inner-section-1 {
      padding: 0;

      .square-up-right {
        &::after {
          display: none;
        }
      }

      .header-wrap {
        padding: 0;
        margin: 0;
      }

      .section-num {
        color: #000;
        left: auto;
        right: 2%;
        opacity: .2;
        bottom: -217px;
      }

      .section-title {
        display: none !important;
      }
    }
  }
}
