/* Inner 1
------------------------------------------------------------*/

.project-content-wrap {
  .inner-section-1-bottom {
    .col-sm-6 {
      @include media-breakpoint-down(sm){
        max-width: 50%;
      }
    }
  }

  .inner-section-1 {

    .header-wrap {
      padding-bottom: 0;
    }

    .desc {
      padding: 0 2.6rem 2.5rem;
      background-color: #FFF;

      @include media-breakpoint-down(sm){
        padding: 0 15px 1rem 15px;
      }
    }

    .parallax-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: baseline;

      .desc {
        transition: all 300ms ease;
        position: relative;
        top: auto;
        bottom: -2rem;
      }
    }
  }
}


.page-70 {
  .inner-section-1-bottom {
    .item {
      margin-bottom: 3rem;
    }
  }

  .section-num {
    bottom: -80px;
    @include media-breakpoint-down(sm){
      bottom: -45px;
    }
  }

  .inner-section-1 {
    .desc {
      strong {
        font-size: 24px;

        @include media-breakpoint-down(sm){
          font-size: 16px;
        }
      }
    }

    .header-wrap {
      padding: 0;
      position: relative;

      hgroup {
        position: absolute;
        top: -42px;
        width: 100%;
        text-align: center;

        @include media-breakpoint-up(lg){
          top: -75px;
        }

        .section-title {
          margin: 0;
        }

        .num {
          bottom: auto;
          top: 90px;
        }
      }
    }
  }
}





/* Inner 2 bg
------------------------------------------------------------*/
.project-content-wrap {
  .inner-section-2 {
    position: relative;

    &.bg-true {
      padding-bottom: 25vh;
      background-position: 50% bottom;
    }
  }
}


.project-content-wrap {
  .inner-section-2 {
    &.add-icon-true {
      min-height: 860px;

      @include media-breakpoint-down(sm){
        min-height: 660px;
      }

      .slide-item {
        min-height: 860px;


        @include media-breakpoint-down(sm){
          min-height: 660px;
        }
      }
    }
  }
}

.project-content-wrap {
  .inner-section-2 {
    &.add-icon-true {
      &::before {
        content: "";
        width: 100px;
        height: 100px;
        display: block;
        background: red;
        position: absolute;
        left: 12%;
        right: auto;
        top: -50px;
        right: auto;
        z-index: 5;
        background-image: url('#{$path-images}/icon-project-one.svg');
        background-size: 65px auto;
        background-repeat: no-repeat;
        background-color: rgba($primary_green_light,1);
        background-position: center center;

        @include media-breakpoint-down(sm){
          top: -35px;
          width: 60px;
          height: 60px;
          background-size: 45px auto;
        }
      }
    }
  }
}


/* Inner 2 repeater
------------------------------------------------------------*/
.project-content-wrap {
  .inner-section-2 {
    .icons-repeater-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
      width: 100%;

      img {
        height: 68px;
        width: auto;

        @include media-breakpoint-down(md){
          height: 55px;
        }

        @include media-breakpoint-down(sm){
          height: 60px;
        }
      }

      .item {
        width: 33.333%;

        @include media-breakpoint-down(sm){
          width: 50%;
          text-align: center;
        }
      }

      &.columns-4 {
        .item {
          width: 25%;

          @include media-breakpoint-down(sm){
            width: 50%;
          }
        }
      }

      &.align-center {
        .item {
          text-align: center;
        }
      }

      .item {
        h3,
        h4,
        h5 {
          i {
            font-size: 18px;
          }
        }
      }
    }
  }
}


/* Animations
------------------------------------------------------------*/
.project-content-wrap {
  .inner-section-2 {
    &.on-viewport {
      &.element-visible {
        .item-1 {
          transition-delay: .2s;
        }
        .item-2 {
          transition-delay: .4s;
        }
        .item-3 {
          transition-delay: .6s;
        }
        .item-4 {
          transition-delay: .8s;
        }
        .item-5 {
          transition-delay: 1.2s;
        }
        .item-6 {
          transition-delay: 1.6s;
        }
        .item-7 {
          transition-delay: 1.8s;
        }
        .item-8 {
          transition-delay: 2s;
        }
      }
    }
  }
}

/* Animations
------------------------------------------------------------*/
.project-content-wrap {
  .inner-section-3 {
    background-size: auto;
    background-repeat: repeat;
    background-color: transparent;
    background-position: 50% bottom;
    background-image: url('#{$path-images}/smart-city-grey2.jpg');
  }
}


/* Inner 3 Smart city
------------------------------------------------------------*/
.inner-section-3 {
  .columns-repeater-wrap {
    .title {
      color: $primary_blue;
      font-size: $size_h4;

      i {
        color: $primary_blue;
        font-size: $size_h4;
      }
    }

    .wrap-desc {
      padding-right: 2rem;
      padding-right: 2rem;
      padding-top: 2rem;

      @include media-breakpoint-down(sm){
        padding-right: 1rem;
        padding-right: 1rem;
      }

    }
  }

  .slideshow-text {
    article {
      padding-top: 1.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}


//Smart city bg
.inner-section-3 {
  .show-animationfalse {
    .icon {
      display: none !important;
    }
  }

  .city-svg-animation {
    padding-bottom: 1rem;
    border-bottom: 3px solid $primary_green_light;

    svg {
      max-width: 480px;
      height: auto;
    }

    .bg-city {
      perspective: 25px;
      position: relative;
      max-width: 720px;
      height: 300px;
      margin: 0 auto;
      background-size: contain;
      background-color: transparent;
      background-position: 50% bottom;
      background-repeat: no-repeat;
      display: flex;

      @include media-breakpoint-down(sm){
        height: 260px;
        background-size: 412px;
        background-position: 50% bottom;
      }
    }
  }
}

//Smart city icons
.inner-section-3 {
  .city-svg-animation {
    span {

      position: absolute;
      bottom: auto;
      top: auto;
      left: auto;
      right: auto;
      background-size: contain;
      background-color: transparent;
      background-position: 50% 0;
      background-repeat: no-repeat;
      display: inline-block;

      &.scroll-to {
        cursor: pointer;
      }

      &.icon-1 {
        width: 32px;
        height: 92px;
        left: 17%;
        top: 0;
        background-image: url('#{$path-images}/smart-city-1.png');
      }

      &.icon-2 {
        width: 29px;
        height: 75px;
        left: 37%;
        top: 0;
        background-image: url('#{$path-images}/smart-city-2.png');
      }
      &.icon-3 {
        width: 34px;
        height: 106px;
        left: 45%;
        top: 0;
        background-image: url('#{$path-images}/smart-city-3.png');
      }
      &.icon-4 {
        width: 20px;
        height: 78px;
        left: 63%;
        background-image: url('#{$path-images}/smart-city-4.png');
      }
      &.icon-5 {
        width: 34px;
        height: 130px;
        left: 71%;
        top: 0;
        background-image: url('#{$path-images}/smart-city-5.png');
      }

      &.icon-signal {
        width: 22px;
        height: 22px;
        bottom: 34%;
        right: 16%;
        background-image: url('#{$path-images}/smart-city-9.png');
      }

      &.icon-circle {
        width: 10px;
        height: 10px;
        background-image: url('#{$path-images}/smart-city-6.png');
        &.one {
          top: 56%;
          left: 13%;
        }
        &.two {
          top: 27%;
          left: 56%;
        }
        &.three {
          top: 39%;
          left: 79%;
        }
      }

      &.icon-cross {
        width: 12px;
        height: 12px;
        background-image: url('#{$path-images}/smart-city-8.png');
        &.one {
          top: 33%;
          left: 24%;
        }
        &.two {
          top: 54%;
          left: 69%;
        }
      }

    }
  }
}


//Smart city animation
.inner-section-3 {
  .city-svg-animation {
    &.on-viewport {
      span {

      }

      &.element-visible {
        span {

        }
      }
    }

    &.element-visible {
      .up-down {
        animation: smartCityUpDown 0.9s ease .4s infinite alternate both;

        &:nth-of-type(1) { animation-delay: .2s }
        &:nth-of-type(2) { animation-delay: .6s }
        &:nth-of-type(3) { animation-delay: .3s }
        &:nth-of-type(4) { animation-delay: .4s }
        &:nth-of-type(5) { animation-delay: 1s }
      }

      .icon-signal {
        animation: smartCitySignal .8s ease .4s infinite alternate both;
      }
    }
  }
}

@keyframes smartCityUpDown {
  from {
    transform: translate(0,-10px);
  }

  to {
    transform: translate(0,1px);
  }
}

@keyframes smartCitySignal {
  from {
    transform: translate(4px,6px) scale(1.2);
  }

  to {
    transform: translate(0,0) scale(1);
  }
}

@keyframes smartCityScale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
