
/* Full Pie
------------------------------------------------*/
@mixin timer($item, $duration, $size, $color, $border, $hover) {
  #{$item}, #{$item} * { @include box-sizing(border-box); }

  #{$item} {
    width: $size;
    height: $size;
  }

  #{$item} .fullpie {
    width: 50%;
    height: 100%;
    transform-origin: 100% 50%;
    position: absolute;
    background: $color;
    border: #{$border};
  }

  #{$item} .piespinner {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    z-index: 200;
    border-right: none;
    //animation: rota $duration + s linear infinite 1s;
  }

  #{$item}:hover .piespinner,
  #{$item}:hover .piefiller,
  #{$item}:hover .piemask {
    //animation-play-state: $hover;
  }

  #{$item} .piefiller {
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    left: 50%;
    opacity: 0;
    z-index: 100;
    //animation: opa $duration + s steps(1,end) infinite reverse 1s;
    border-left: none;
  }

  #{$item} .piemask {
    width: 50%;
    height: 100%;
    position: absolute;
    background: inherit;
    opacity: 1;
    z-index: 300;
    //animation: opa $duration + s steps(1,end) infinite 1s;
  }

  @keyframes rota {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @keyframes opa {
    0% { opacity: 1; }
    50%, 100% { opacity: 0; }
  }
}

@mixin box-sizing($box){
  box-sizing: $box;
}


/* Section Number
------------------------------------------------*/
@mixin section_counter($bottom) {
  opacity: $number_opacity;
  font-size: 144px;
  line-height: 1.1;
  font-weight: normal;
  letter-spacing: 0;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: auto;
  left: auto;
  right: auto;
  bottom: -20px;
  color: $primary_title;
  font-family: $font_astyMed;

  &.left {
    left: 8%;
    @include media-breakpoint-down(md){
      left: 2%
    }
  }

  &.right {
    right: 8%;

    @include media-breakpoint-down(md){
      right: 2%
    }
  }

  @include media-breakpoint-down(lg){
    font-size: 104px;
  }

  @include media-breakpoint-down(md){
    font-size: 64px;
    bottom: -15px;
  }

  @include media-breakpoint-down(sm){
    bottom: -25px;
  }
}


/* Section title
------------------------------------------------*/
@mixin section_title($margin) {
  font-size: $size_header;
  margin-bottom: $margin;
  text-transform: uppercase;
  line-height: 1.3;
  font-weight: normal;
  font-family: $font_astyLight;

  @include media-breakpoint-down(md){
    font-size: 30px;
  }

  @include media-breakpoint-down(sm){
    font-size: 28px;
    margin-bottom: 2rem;
  }
}


/* Border Subtitle
------------------------------------------------*/
@mixin subtitle($width) {
  display: block;
  position: relative;
  z-index: 5;
  text-align: center;
  font-size: 24px;

  @include media-breakpoint-down(md){
    font-size: 20px;
  }

  @include media-breakpoint-down(md){
    font-size: 18px;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: $width;
    top: 50%;
    display: block;

    @include media-breakpoint-down(md){
      font-size: 20px;
      width: 28%;
    }
  }

  &::after {
    right: 0;
  }

  &::before {
    left: 0;
  }

  &.blue {
    color: $primary;

    &::after,
    &::before {
      background-color: $primary;
    }
  }

  &.blue-light {
    color: $primary_blue_light;

    &::after,
    &::before {
      background-color: $primary_blue_light;
    }
  }

  &.white {
    color: #FFF;

    &::after,
    &::before {
      background-color: #FFF;
    }
  }
}


/* Bg cover
------------------------------------------------*/
@mixin cover(){
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50% 50%;

  &.fixed {
    //background-attachment: cover;
  }
}


/* Datatable
------------------------------------------------*/
@mixin datatable($color, $tr_color, $th_color) {
  table {
    width: 100%;
    border: none;

    th {
      padding: 8px;
      text-align: center;
      color: $th_color;

      @include media-breakpoint-down(sm){
        padding: 4px;
        font-size: 12px;
      }
    }

    tr {
      &:nth-child(even){
        background-color: $color;
        color: $tr_color;
      }

      &:nth-child(odd){
        background-color: transparent;
        color: $color;
      }
    }

    td {
      font-size: $size_p;
      padding: 8px;
      text-align: center;
      vertical-align: center;

      @include media-breakpoint-down(sm){
        padding: 4px;
        font-size: 12px;
      }

      &:first-of-type {
        font-weight: 600;
      }
    }
  }
}
